body {
  text-align: center;
}

.header {
  background-image: url("background1.png");
  background-size: cover;
}

h1 {
  font-size: 70px;
  color: white;
  font-weight: bold;
  font-family: Helvetica;
}

.toplinks {
  font-family: Helvetica;
  font-size: 18px;
  color:white;
  font-weight: bold;
}

a {
  color:white;
}

h2 {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
}

.middle {
  background-image: url("background1.png");
  background-size: cover;
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
}

p {
  font-family: Helvetica;
  font-size: 14px;
}

.footer {
  background-color: dimgray;
  color: white;
  text-align: left;
  font-size: 18px;
  font-weight: bold;
}

.copyright {
  font-size: 11px;
}
